.super_black{
    z-index: 9998;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: .33;
    position: absolute;
    top : 0;
}


.Studymodal_alim{
    z-index: 9999;
    position: absolute;
    width: 524px;
    background-color: white;
    left: 50%;
    top : 50%;
    transform: translate(-50%, -50%);
    height : 320px;
    border-radius: 20px;
    border: #9D4BE7 5px solid;
}

.Studymodal_alim_in{
    position: relative;
    width: 100%;
    height : 100%;
}

.modalHead_star{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
}
.modalHead_star > p{
    position: absolute;
    top: 50%;
    left : 47%;
    transform: translate(-50%, -50%);
    color : white;
    text-align: center;
}

.Studymodal_alim_in_title{
    font-size: 24px;
    text-align: center;
    padding-top: 80px;
    font-weight: bold;
    margin-bottom: 12px;
}
.Studymodal_alim_in_subTitle{
    font-size: 20px;
    text-align: center;
}

.modal_plane{
    position: absolute;
    bottom: -50px;
    right: -50px;
}
.modal_buttonBar{
    width: 380px;
    margin: auto;
    margin-top: 48px;

    display: flex;
    justify-content: space-between;
}
.modal_buttonBar > div{
    text-align: center;
    width: 180px;
    height: 45px;
    border-radius: 8px;
    line-height: 45px;
}
.button_violet{
    background-color: #9D4BE7;
    color: white;
}

.button_gray{
    border: 1px solid #d9d9d9;
    color : #d9d9d9;
}